@font-face {
    font-family: bamboo;
    src: url(./BambooGothic-Book.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: bamboo;
}

body{
    height: 100%;
    background-color: #8ee4af;
}

img{
    margin: auto 0;
}

#upgradeContainer img {
    border: solid 10px transparent;
    border-image: url(./img/borderfull.png) 10 round;
    margin: 2px;
}

#bamboo{
    background-image: url(./img/bamboo.png);
    width: 256px;
    height: 256px;
    display: inline-block;
}

#reset{
    display: inline-block;
    width: 100%;
}

#bamboo:hover{
    transition: ease 0.1s;
    transform: scale(0.95);
}

#bamboo:active{
    transform: scale(1.01);
}

.gameCanvas{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.middle{
    width: 65%;
    border: solid 10px transparent;
    border-image: url(./img/borderfull.png) 10 round;
    background-color: #8ee4af;
}

.right{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 10px transparent;
    border-image: url(./img/borderfull.png) 10 round;
    background-color: #8ee4af;
}

#shopContainer{
    width: 100%;
}

table {
    height: 5.5rem;
    background-image: url(./img/bamboobg.png);
    display: flex;
    margin-bottom: 10px;
    border: solid 10px transparent;
    border-image: url(./img/borderfull.png) 10 round;
    font-size: 20px;
}

table img {
    margin-right: 20px;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

table:hover {
    transform: scale(0.95);
    transition: ease 0.1s;
}

table:active {
    transform: scale(1.01);
}

#upgradeContainer img {
    background-image: url(./img/bamboobg.png);
}

.upgradeTile:hover{
    transform: scale(0.95);
    transition: ease 0.1s;
}

#popUp{
    width: 400px;
    background-color: #cfcfcf;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.collapsible {
    background-color: #5cdb95;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
}

.active, .collapsible:hover {
    background-color: #379683;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #379683;
}

#reset{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #5cdb95;
}

#reset:hover{
    background-color: #379683;
}

@media (min-width: 1281px) {

    /* CSS */
    
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    .middle{
        width: 100%;
    }
    
    .right{
        width: 100%;
    }

    .gameCanvas{
        display: flex;
        flex-wrap: wrap;
    }

    table {
        font-size: 14px;
    }

    table img {
        margin-right: 5px;
    }
}